/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

h2 {
    font-size: 2.8em;
    margin-bottom: 25px;
}

p {
  font-size: 1.1em;
  line-height: 1.6em;
}

.container {
  width: 90%;
  max-width: 1180px;
  margin: 0 auto;
}

.logo img {
  width: 120px;
}

/* BUTTONS */

.btn-big {
  display: inline-block;
}

.btn-small a, .btn-big a {
  text-decoration: none;
  border-radius: 40px;
}

.btn-small a {
  padding: 12px 14px;
  font-size: 0.8em;
}

.btn-big a {
  padding: 16px 28px;
  font-size: 1.2em;
}

.btn-small a:hover, .btn-big a:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, .6);
}

.btn-grey a {
  background-color: #23272a;
  color: white;
}

.btn-blue a {
  background-color: #8ea1e1;
  color: white;
}

.btn-white a {
  background-color: white;
  color: #23272a;
}

/* HEADER */
header {
  background-color: #255EE9;
  padding: 20px 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav ul li {
  margin: 0 20px;
}

header nav ul li a {
  color: white;
  font-size: 0.9em;
  text-decoration: none;
}

header nav ul li a:hover {
  text-decoration: underline;
}

/* JUMBOTRON */
.jumbotron {
  background-image: url('../img/jumbo.png');
  background-size: cover;
  background-position: center;
  padding: 90px 0 150px;
}

.jumbotron .content {
  text-align: center;
  color: white;
  width: 40%;
  min-width: 300px;
  margin: 0 auto;
}

.jumbotron p{
  margin: 20px;
}

.jumbotron .content h1{
  font-size: 3.2em;
  margin-bottom: 35px;
}

.jumbotron .btn-big {
  padding: 20px;
}

/* MAIN */
main section {
  padding: 115px 0;
  color: #23272a;
}

main section:nth-child(odd) {
  background-color: #FFFFFF;
}

main section:nth-child(even) {
  background-color: #F6F6F6;
}

main section .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

main section:nth-child(even) .container {
  flex-wrap: wrap-reverse;
}

main section:last-child .row {
  height: 300px;
  width: 100%;
  background-color: lightgreen;
  border: 1px dashed black;
}

.row .col-img {
  height: 500px;
  width: 60%;
  min-width: 400px;
}

.row .col-txt {
  height: 500px;
  width: 40%;
  min-width: 265px;
  padding-top: 28px;
}

.row .col-txt:nth-child(even) {
  padding-left: 100px;
  padding-right: 25px;
}

.row .col-txt:nth-child(odd) {
  padding-left: 25px;
  padding-right: 100px;
}

/* FOOTER */

footer {
  background-color: #23272A;
  padding: 80px 0;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

footer .container:first-child {
  padding-bottom: 40px;
  border-bottom: 1px solid #5865F2;
}

footer .container:last-child {
  margin-top: 30px;
  background-color: lightcyan;
}

footer .container .col {
  background-color: lightgoldenrodyellow;
  flex-grow: 1;
  height: 350px;
  border: 1px dashed black;
}

footer .container .col:first-child {
  background-color: lightseagreen;
  flex-grow: 2;
  border: 1px dashed black;
}